<div class="align-items-center" style="
     position: absolute;
     top: 40%;
     left:50%;
     transform: translate(-50%,-50%); ">

    <h1 class="display-1 text-bold text-center">Welcome to this Search Engine!</h1>
    <h5 class="text-gray-soft text-regular text-center" style="color: rgb(97, 97, 97);">Click the 'Start Searching' button to crawl and begin searching</h5>
    

    
    <br>

    <form class="text-center" action="">
        <button type="submit" class="btn btn-primary btn-lg">Start Searching</button>
    </form>
</div>
